<p>Zadanko z <a href="https://www.youtube.com/watch?v=V-1Fq_mAl20&t=129s">Link</a></p>

<h1>App.component</h1>
<!--<app-courses></app-courses>-->


<p>
    <button routerLink="/">HOME</button>
    <button routerLink="/courses">KURSY</button>
</p>
<router-outlet></router-outlet>