<p>
  courses works!
</p>

<p>
    <button routerLink="/">HOME</button>
    <button routerLink="/courses/list">list</button>
    <button routerLink="/courses/detail">detail</button>
</p>
<!--<router-outlet></router-outlet>-->

<!--
<app-courses-list></app-courses-list>
<app-courses-detail></app-courses-detail>-->
